<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{% block title %}{% endblock %}</title>

  {% block site_css -%}
  <link rel="stylesheet" type="text/css" href="{{ request.static_url('awsconsole:static/css/site.css') }}" />
  {%- endblock -%}

  {% block site_js -%}
  {%- endblock -%}

  {% block page_css -%}
  {%- endblock -%}

  {% block page_js -%}
  {%- endblock -%}

  {% block extra_head -%}
  {%- endblock %}
</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      {% block page_top -%}
      <div id="page-top">
        <div id="logo">
          <img src="{{ request.static_url('awsconsole:static/images/pyramid-small.png') }}" alt="Pyramid" />
        </div>
      </div>
      {%- endblock %}
    </div>
  </div>
</div>

<div class="container">
  {% block header -%}
  <div id="header">
  </div>
  {%- endblock %}
</div>

<div class="container">
  {% block content -%}
  <div id="content">
  </div>
  {%- endblock %}
</div>

<div class="container">
  {% block footer -%}
  <div id="footer">
  </div>
  {%- endblock %}
</div>

</body>
</html>
