{% extends 'base.jinja2' %}
{%- block title %}Dashboard | AWS Console{% endblock -%}

{%- block header -%}
  <div id="header">
    <h1>Dashboard</h1>
  </div>
{%- endblock -%}

{% block page_js %}
<script type="text/javascript" src="/static/js/spin.js"></script>
<script type="text/javascript" src="/static/js/jquery.spin.js"></script>
<script type="text/javascript" src="/static/js/dashboard.js"></script>
<script type="text/javascript">
  $(function() {
    var app = new Dashboard({
      "sync": "{{ request.route_url('api.sync') }}",
      "start": "{{ request.route_url('api.start') }}",
      "stop": "{{ request.route_url('api.stop') }}",
      "save": "{{ request.route_url('dashboard.save') }}",
      "edit": "{{ request.route_url('dashboard.edit') }}"
    });
  });
</script>
{% endblock %}

{%- macro region_item(region) -%}
  {% set area = request.context.area_from_region(region) -%}
  {% set city = request.context.city_from_region(region) -%}
  <li{{ (' class="current"'|safe) if current_region == region }} data-region="{{ region }}">
    <a href="?region={{ region }}" tabindex="-1">{{ area }} ({{ city }})</a>
  </li>
{%- endmacro -%}

{%- block content -%}
<div id="content">

  <div class="container">
    <div class="navbar">
        <ul class="nav pull-right">
          <li>
            <button name="sync" class="btn btn-small btn-warning"><i class="icon-refresh"></i> Sync</button>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <span class="navbar-text">Region:</span>
          </li>
          <li id="region-dropdown" class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" role="button">{{ request.context.city_from_region(current_region) }}<b class="caret"></b></a>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="drop3">
              {{ region_item('us-east-1') }}
              {{ region_item('us-west-1') }}
              {{ region_item('us-west-2') }}
              <li class="divider"></li>
              {{ region_item('eu-west-1') }}
              <li class="divider"></li>
              {{ region_item('ap-southeast-1') }}
              {{ region_item('ap-northeast-1') }}
              <li class="divider"></li>
              {{ region_item('sa-east-1') }}
            </ul>
          </li>
        </ul>
    </div>
  </div>

  <div class="container">

    <table class="table table-bordered table-striped table-hover table-condensed">
      <thead>
        <tr>
          <!--<th>&nbsp;</th>-->
          <th><a href="#">Instance ID</a></th>
          <th><a href="#">Name</a></th>
          <th>Arch/Platform</th>
          <th><a href="#">Placement</a></th>
          <th><a href="#">Type</a></th>
          <th>Volumes</th>
          <th><a href="#">State</a></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for instance in instances %}
        <tr>
          <!--<td><input type="checkbox" /></td>-->
          <td>{{ instance.instance_id }}</td>
          <td>{{ instance.name }}</td>
          <td>{{ instance.arch|default('-', true) }}/{{ instance.platform|default('other', true) }}</td>
          <td>{{ instance.placement }}</td>
          <td>{{ instance.instance_type }} <a href="#"><span class="label label-inverse">&uarr;&darr;</span></a></td>
          <td>
            <ul>
            {% for volume in instance.volumes -%}
              <li>{{ volume.volume_id }}: {{ volume.size }}GB</li>
            {%- endfor %}
            </ul>
          </td>
          <td>
            {% if instance.state == 'running' -%}
              {% set badge_class = 'badge-success' -%}
            {% elif instance.state == 'pending' or instance.state == 'stopping' -%}
              {% set badge_class = 'badge-warning' -%}
            {%- else -%}
              {% set badge_class = '' -%}
            {%- endif %}
            <span class="badge {{ badge_class }}">{{ instance.state }}</span>
          </td>
          <td>
            {% if instance.state == 'running' -%}
              <button name="stop" class="btn btn-danger" data-id="{{ instance.instance_id }}"><i class="icon-stop"></i> Stop</button>
            {% elif instance.state == 'stopped' -%}
              <button name="start" class="btn btn-info" data-id="{{ instance.instance_id }}"><i class="icon-play"></i> Start</button>
            {%- endif %}
            <button name="edit" class="btn" data-id="{{ instance.instance_id }}"><i class="icon-edit"></i> Edit</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{%- endblock -%}
